<template>
  <div class="filmBox" @scroll="scrollFn">
    <dl v-for="item in films" :key="item.filmId" @click="goDetail(item.filmId)">
      <dt><img :src="item.poster" alt=""></dt>
      <dd class="cons">
        <h3>{{ item.name }}</h3>
        <p>评分: {{ item.grade }}</p>
        <p class="actors">主演：<span v-for="(val, index) in item.actors" :key="index">{{ val.name }}</span></p>
        <p>{{ item.nation }} | {{ item.runtime }}分钟</p>
      </dd>
      <dd class="buy">
        <button>预购</button>
      </dd>
    </dl>
    <Loading v-if="loaingShow"></Loading>
  </div>
</template>

<script>
import axios from 'axios'
import Loading from '@/component/loading .vue'

export default {
  components: {
    Loading
  },
  data () {
    return {
      films: [],
      loaingShow: true,
      pageNum: 1,
      total: ''
    }
  },
  methods: {
    goDetail (filmId) {
      // this.$router.push(`/details/${filmId}`)
      // this.$router.push(`/detail/${filmId}`)
      this.$router.push({
        name: 'details',
        params: {
          id: filmId
        }
      })
      // console.log(this)
    },
    scrollFn (e) {
      if (this.total === this.films.length) {
        return
      }
      const { scrollTop, offsetHeight, scrollHeight } = e.target
      if (scrollTop + offsetHeight >= scrollHeight) {
        this.pageNum++
        this.getInfos()
      }
      // console.log('页面滚动了', scrollTop, offsetHeight, scrollHeight)
    },
    async getInfos () {
      this.loaingShow = true
      const pageNum = this.pageNum
      const res = await axios.get(`https://m.maizuo.com/gateway?cityId=110100&pageNum=${pageNum}&pageSize=20&type=1&k=4045407`, {
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"16879999798557610668130305","bc":"110100"}',
          'X-Host': 'mall.film-ticket.film.list'
        }
      })
      this.films = this.films.concat(res.data.data.films)
      this.total = res.data.data.total
      this.loaingShow = false
    }
  },
  async created () {
    this.getInfos()
  }
}
</script>

<style lang="scss">
.filmBox{
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  dl{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
    dt{
      width: 66px;
      height: 93px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .cons{
      margin-left: 10px;
      flex: 1;
      display: flex;
      flex-direction: column;
      p{
        font-size: 12px;
      }
    }
    .buy{
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      width: 45px;
      height: 25px;
      color: #ffb232;
      background: #fff;
      border: #ffb232 1px solid;
      border-radius: 5px;
    }
  }
    }
    .actors{
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp:1;
      -webkit-box-orient: vertical;
      >span{
        margin-left: 5px;
      }
    }
}
</style>
