<template>
  <div class="coming" @scroll="scrollFn">
    <div  class="films" v-for="film in info" :key="film.filmId">
      <div class="imgBox">
        <img :src="film.poster" alt="">
      </div>
      <div class="con">
        <span class="title">
          <span>{{ film.name}}</span>
          <p>{{ film.filmType.name}}</p>
        </span>
        <span class="actorList">
          主演：
          <template v-if="film.actors">
          <i v-for="(actor,index) in film.actors" :key="index">{{ actor.name}}</i>
          </template>
        </span>
        <span class="premiereAt">
          上映日期：{{fomat(film.premiereAt *1000)}}
        </span>
      </div>
      <div class="buy">
        <button>预购</button>
      </div>
    </div>
    <div class="loading" v-if="loaingMask">
      <loading></loading>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Loading from '@/component/loading .vue'
export default {
  data () {
    return {
      info: [],
      loaingMask: true
    }
  },
  methods: {
    scrollFn (e) {
      // console.log('页面滚动了')
    },
    fomat (time) {
      const day = '周日_周一_周二_周三_周四_周五_周六'.split('_')
      return day[moment(time).day()] + '  ' + moment(time).format('M月D日')
    }
  },
  async created () {
    this.loaingMask = true
    const res = await axios.get('https://m.maizuo.com/gateway?cityId=110100&pageNum=1&pageSize=20&type=2&k=500681', {
      headers: {
        'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"16879999798557610668130305","bc":"110100"}',
        'X-Host': 'mall.film-ticket.film.list'
      }
    })
    this.info = res.data.data.films
    this.loaingMask = false
  },
  components: {
    Loading
  }
}
</script>

<style lang='scss' scoped>
.coming{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.films{
  height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  .imgBox{
    width: 66px;
    height: 93px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .con{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
      .title{
      display: flex;
      align-items: center;
      >p{
        display: inline-block;
        width: 25px;
        height: 15px;
        line-height: 15px;
        font-size: 14px;
        background: #d3d6db;
        color: #fff;
        text-align: center;
        border-radius:5px;
        margin-left: 5px;
      }
    }
    .actorList{
      margin: 3px 0;
      font-size: 12px;
      color: #797d82;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp:1;
      -webkit-box-orient: vertical;
      i{
        margin-right: 5px;
        font-style: normal;
      }
    }
    .premiereAt{
      font-size: 12px;
      color: #797d82;
    }
  }
  .buy{
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      width: 45px;
      height: 25px;
      color: #ffb232;
      background: #fff;
      border: #ffb232 1px solid;
      border-radius: 5px;
    }
  }
}
.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
</style>
