<template>
  <div class="movie">
    <header>
      <router-link replace to="/movie/hot">正在热映</router-link>
      <router-link replace to="/movie/coming">即将上映</router-link>
    </header>
    <main><router-view></router-view></main>

  </div>
</template>

<script>
</script>

<style lang="scss" scoped>
.movie{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  header{
  display: flex;
  text-align: center;
  background: #ccc;
  height: 50px;
    a{
      display: block;
      text-decoration: none;
      color: #333;
      flex: 1;
      height: 50px;
      line-height: 50px;
      -webkit-tap-highlight-color: transparent;
      &.router-link-active{
        color: #fff;
        background: yellowgreen;
      }
    }
  }
  main{
    flex: 1;
    overflow: hidden;
  }
}
</style>
