<template>
  <div class="wrap animate__animated animate__fadeIn animate__durationnp-1s">
    <div class="details">
      <div class="poster"><img :src="info.poster" alt=""></div>
      <div class="con">
        <span class="title"><span class="name">{{info.name}}</span><p>{{info.item?.name}}</p></span>
        <span>{{info.category}}</span>
        <span class="premiereAt">{{format(info.premiereAt * 1000)}}上映</span>
        <span>{{info.nation}} | {{info.runtime}}分钟</span>
        <div><i>{{info.grade || '0.0' }}</i> 分</div>
      </div>
      <div class="detailsCon">
        <p :class="{active: down}">{{info.synopsis}}</p>
        <div class="others">
          <span class="down">
            <svg t="1688116166963" v-if="down" class="icon"
            @click="down = !down"
            viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4164" width="15" height="15"><path d="M966.4 668.8l-435.2-432c-9.6-9.6-25.6-9.6-35.2 0l-441.6 432c-9.6 9.6-9.6 25.6 0 35.2 9.6 9.6 25.6 9.6 35.2 0l425.6-416 416 416c9.6 9.6 25.6 9.6 35.2 0S976 678.4 966.4 668.8z" p-id="4165"></path></svg>
            <svg t="1688115248361" v-else class="icon"
            @click="down = !down"
            viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2268" width="15" height="15"><path d="M966.4 323.2c-9.6-9.6-25.6-9.6-35.2 0l-416 416-425.6-416c-9.6-9.6-25.6-9.6-35.2 0-9.6 9.6-9.6 25.6 0 35.2l441.6 432c9.6 9.6 25.6 9.6 35.2 0l435.2-432C976 345.6 976 332.8 966.4 323.2z" p-id="2269"></path></svg>
          </span>
          <div class="actors">
            <span class="actorTitle">演职人员</span>
            <ul class="actorsList" v-if="info.actors">
              <li v-for="(item,index) in info.actors" :key="index">
                <div class="imgBox"><img :src="item.avatarAddress" alt=""></div>
                <span>{{ item.name }}</span>
                <p>{{ item.role }}</p>
              </li>
            </ul>
          </div>
          <div class="pics">
            <span class="picTitle">剧照</span>
            <ul class="picList">
              <li v-for="pic in info.photos" :key="pic">
                <img :src="pic" alt="">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <span>选座购票</span>
    </footer>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
export default {
  data () {
    return {
      info: {},
      down: false
    }
  },
  methods: {
    async aaa () {
      const filmIds = this.$route.params.id
      const res = await axios.get('https://m.maizuo.com/gateway', {
        params: {
          filmId: filmIds,
          k: 9746056
        },
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"16879999798557610668130305","bc":"110100"}',
          'X-Host': 'mall.film-ticket.film.info'
        }
      })
      this.info = res.data.data.film
      console.log(this.info)
    },
    format (time) {
      return moment(time).format('YYYY-MM-DD')
    }
  },
  async created () {
    this.aaa()
  }
}
</script>

<style lang='scss' scoped>
.wrap{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.details{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f4f4f4;
  flex: 1;
  .poster{
    width: 100%;
    height: 200px;
    overflow: hidden;
    img{
      transform: translate(0,-30%);
      width: 100%;
    }
  }
  .con{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    background-color: #fff;
    >div{
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 12px;
      color: rgb(252, 129, 107);
      i{
        font-size: 20px;
      }
    }
    span{
      font-size: 13px;
      color: #797d82;
      margin: 2px;
    }
    .title{
      display: flex;
      align-items: flex-start;
      .name{
        color: #000;
        font-size: 22px;
      }
      >p{
        margin: 5px;
        width: 20px;
        height: 15px;
        line-height: 15px;
        background: #d3d6db;
        color: #fff;
        text-align: center;
        border-radius: 2px;
      }
    }
  }
  .detailsCon{
    width: 100%;
    color: #797d82;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    position: relative;
    background-color: #f4f4f4;
    >p{
      padding: 10px;
      max-height: 30px;
      background-color: #fff;
      overflow: hidden;
      transition: max-height .4s linear;
      &.active{
        max-height: 250px;
        transition: max-height .4s linear;
      }
    }
    .others{
      width: 100%;
      height: 300px;
      color: #fff;
      background: #f4f4f4;
      .down{
        display: flex;
        width: 100%;
        height: 25px;
        justify-content: center;
        background-color: #fff;
        .icon path{
          fill: #797d82;
          margin: 5px;
        }
      }
      .actors{
        margin-top: 10px;
        width: 100%;
        background-color: #fff;
        padding: 10px 0;
        .actorTitle{
          font-size: 22px;
          color: #000;
          margin: 10px;
        }
        .actorsList{
        width: 100%;
        margin-top: 20px;
        height: 120px;
        display: flex;
        list-style: none;
        overflow-x: auto;
        background-color: #fff;
        padding: 0 5px;
        li{
          display: flex;
          flex-direction: column;
          text-align: center;
          flex-shrink: 0;
          padding: 0 5px;
          .imgBox{
            width: 80px;
            height: 80px;
            overflow: hidden;
            margin-right:3px;
          img{
            display: block;
            width: 80px;
            height: 100px;
          }
          }
          >span{
            margin-top: 5px;
            color: #000;
            height: 20px;
          }
          >p{
            color: #797d82;
          }
        }

      }
      }
      .pics{
        margin-top: 10px;
        width: 100%;
        height: 100px;
        background-color: #fff;
        padding: 10px 0;
        .picTitle{
          font-size: 22px;
          color: #000;
          margin: 10px;
        }
        >ul{
          display: flex;
          align-items: center;
          overflow-x: auto;
          margin-top: 20px;
          li{
            margin: 0 5px;
          img{
            width: 100px;
            height: 50px;
          }
          }

        }
      }
    }
  }
}
footer{
  width: 100%;
  height: 50px;
  background-color: #ed6a33;
  text-align: center;
  color: #fff;
  >span{
    margin: 0 auto;
  }
}
</style>
