<template>
  <div class="cityPage">
    <p class="header"><span class="close" @click="$router.back()">×</span><span class="nowPos">-当前城市</span></p>
    <van-search
      v-model="value"
      :show-action="cancelShow"
      placeholder="请输入搜索的城市"
      @input="onSearch"
      @cancel="onCancel"
    />
    <div class="list">
      <div class="searchBox" v-if="noneCity">
        <van-empty v-if="!$store.getters.curCity.length" image="error" description="没有这个城市，重新输入！" />
        <ul v-if="$store.getters.curCity.length">
          <li v-for="item in $store.getters.curCity" :key="item.cityId">
            {{item.name}}
          </li>
        </ul>
      </div>
      <van-index-bar
      :index-list="indexList"
      v-if="!noneCity"
      >
      <template v-for="item in sortCity">
        <van-index-anchor :index="item.title" :key="item.title">{{item.title}}</van-index-anchor>
        <van-cell v-for="every in item.list" :title="every.name" :key="every.cityId"/>
      </template>

      </van-index-bar>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
      value: '',
      cancelShow: false,
      noneCity: false
    }
  },
  methods: {
    ...mapActions(['getList']),
    onSearch (val) {
      this.$store.state.value = val
      this.cancelShow = true
      this.noneCity = true
    },
    onCancel () {
      this.cancelShow = this.noneCity = false
    }
  },
  computed: {
    ...mapState(['cityList']),
    sortCity () {
      const obj = {}
      this.cityList.forEach(city => {
        const key = city.pinyin[0].toUpperCase()
        if (obj[key]) {
          obj[key].push(city)
        } else {
          obj[key] = [city]
        }
      })
      const arr = Object.keys(obj).map(key => {
        return {
          title: key,
          list: obj[key]
        }
      })
      arr.sort((a, b) => a.title.charCodeAt() - b.title.charCodeAt())
      return arr
    },
    indexList () {
      return this.sortCity.map(item => item.title)
    }
  },
  async created () {
    this.getList()
  }
}
</script>

<style lang="scss" scoped>
.cityPage{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.list{
  flex: 1;
  overflow: auto;
}
.header{
  display: flex;
  align-items: center;
  height: 40px;
  .close{
    position: absolute;
    left: 0;
    width: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
  }
  .nowPos{
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
}
</style>
