<template>
  <div id="app">
    <main>
    <transition enter-active-class="animate__animated animate__fadeIn"
    leave-active-class="animate__animated animate__fadeOut"
    >
      <router-view></router-view>
    </transition>
    </main>
    <footer>
    <router-link to="/movie">电影</router-link>
    <router-link to="/cinema">影院</router-link>
    <router-link to="/mine">我的</router-link>
    </footer>
  </div>
</template>
<script>
export default {
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
<style lang="scss">
*{
  padding: 0;
  margin: 0;
}
body,html,#app{
  width: 100%;
  height: 100%;
}
#app{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main{
  flex:1;
  overflow: hidden;
}
footer{
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #ccc;
  a{
    flex: 1;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: transparent;
    &.router-link-active{
      color: #fff;
      background: yellowgreen;
  }
  }
}
.animate__animated.animate__fadeIn {
  --animate-duration: 0.5s;
}
.animate__animated.animate__fadeOut {
  --animate-duration: 0.5s;
}
a{
    text-decoration: none;
    color: #000;
}
</style>
