<template>
  <div class="logBox">
    <div class="login">
        <p>姓名：<input type="text" v-model="form.name"></p>
        <p>电话：<input type="number" v-model="form.tele"></p>
        <p>密码：<input type="password" v-model="form.password"></p>
        <button @click="right">登录</button>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        name: '',
        tele: '',
        password: ''
      }
    }
  },
  methods: {
    async right () {
      console.log(this.form)
      const res = await axios.post('/api/login', this.form)
      if (res.data.code) {
        localStorage.setItem('token', res.data.code)
        location.replace(this.$route.query.redirectUrl)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.logBox{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}
.login{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #fff;
    >p{
        height: 40px;
        margin: 5px 0;
        >input{
            height: 25px;
        }
    }
    >button{
        margin: 0px 0 0 100px;
        width: 100px;
        height: 40px;
        border: 0;
        background: #999;
        color: #fff;
        border-radius: 20px;
        font-size: 18px;
    }
}
</style>
