<template>
<div class="cinemaPage">
    <header>
        <div class="top">
        <span class="pos">
            <router-link to="/city">北京</router-link>
            <svg t="1688306059918" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2287" width="10" height="10"><path d="M890.335385 330.911222c-12.576374-12.416396-32.800753-12.352748-45.248112 0.192662L517.248327 661.951458 184.831931 332.512727c-12.576374-12.447359-32.800753-12.352748-45.280796 0.192662-12.447359 12.576374-12.352748 32.831716 0.192662 45.280796l353.311652 350.112082c0.543583 0.543583 1.247144 0.672598 1.792447 1.183497 0.127295 0.127295 0.159978 0.287273 0.287273 0.416288 6.239161 6.175514 14.399785 9.280473 22.527725 9.280473 8.224271 0 16.479505-3.168606 22.720387-9.471415l350.112082-353.311652C902.975407 363.615643 902.880796 343.360301 890.335385 330.911222z" fill="#000" p-id="2288"></path></svg>
        </span>
        <div class="title">影院</div>
        <span class="search">
            <svg t="1688306193479" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3357" width="20" height="20"><path d="M480.653061 867.265306c-213.159184 0-386.612245-173.453061-386.612245-386.612245s173.453061-386.612245 386.612245-386.612245 386.612245 173.453061 386.612245 386.612245-173.453061 386.612245-386.612245 386.612245z m0-731.428571c-190.171429 0-344.816327 154.644898-344.816326 344.816326s154.644898 344.816327 344.816326 344.816327 344.816327-154.644898 344.816327-344.816327-154.644898-344.816327-344.816327-344.816326z" fill="#333333" p-id="3358"></path><path d="M741.877551 501.55102c-11.493878 0-20.897959-9.404082-20.897959-20.897959 0-132.702041-107.62449-240.326531-240.326531-240.32653-11.493878 0-20.897959-9.404082-20.897959-20.89796s9.404082-20.897959 20.897959-20.897959c155.689796 0 282.122449 126.432653 282.122449 282.122449 0 11.493878-9.404082 20.897959-20.897959 20.897959zM909.061224 929.959184c-5.22449 0-10.44898-2.089796-14.628571-6.269388l-170.318367-170.318367c-8.359184-8.359184-8.359184-21.420408 0-29.779592 8.359184-8.359184 21.420408-8.359184 29.779592 0l170.318367 170.318367c8.359184 8.359184 8.359184 21.420408 0 29.779592-4.702041 4.179592-9.926531 6.269388-15.151021 6.269388z" fill="#000" p-id="3359"></path></svg>
        </span>
        </div>
        <div class="second">
            <span>
                全城
                <svg t="1688306059918" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2287" width="10" height="10"><path d="M890.335385 330.911222c-12.576374-12.416396-32.800753-12.352748-45.248112 0.192662L517.248327 661.951458 184.831931 332.512727c-12.576374-12.447359-32.800753-12.352748-45.280796 0.192662-12.447359 12.576374-12.352748 32.831716 0.192662 45.280796l353.311652 350.112082c0.543583 0.543583 1.247144 0.672598 1.792447 1.183497 0.127295 0.127295 0.159978 0.287273 0.287273 0.416288 6.239161 6.175514 14.399785 9.280473 22.527725 9.280473 8.224271 0 16.479505-3.168606 22.720387-9.471415l350.112082-353.311652C902.975407 363.615643 902.880796 343.360301 890.335385 330.911222z" fill="#000" p-id="2288"></path></svg>
            </span>
            <span>
                APP订票
                <svg t="1688306059918" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2287" width="10" height="10"><path d="M890.335385 330.911222c-12.576374-12.416396-32.800753-12.352748-45.248112 0.192662L517.248327 661.951458 184.831931 332.512727c-12.576374-12.447359-32.800753-12.352748-45.280796 0.192662-12.447359 12.576374-12.352748 32.831716 0.192662 45.280796l353.311652 350.112082c0.543583 0.543583 1.247144 0.672598 1.792447 1.183497 0.127295 0.127295 0.159978 0.287273 0.287273 0.416288 6.239161 6.175514 14.399785 9.280473 22.527725 9.280473 8.224271 0 16.479505-3.168606 22.720387-9.471415l350.112082-353.311652C902.975407 363.615643 902.880796 343.360301 890.335385 330.911222z" fill="#000" p-id="2288"></path></svg>
            </span>
            <span>
                最近去过
                <svg t="1688306059918" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2287" width="10" height="10"><path d="M890.335385 330.911222c-12.576374-12.416396-32.800753-12.352748-45.248112 0.192662L517.248327 661.951458 184.831931 332.512727c-12.576374-12.447359-32.800753-12.352748-45.280796 0.192662-12.447359 12.576374-12.352748 32.831716 0.192662 45.280796l353.311652 350.112082c0.543583 0.543583 1.247144 0.672598 1.792447 1.183497 0.127295 0.127295 0.159978 0.287273 0.287273 0.416288 6.239161 6.175514 14.399785 9.280473 22.527725 9.280473 8.224271 0 16.479505-3.168606 22.720387-9.471415l350.112082-353.311652C902.975407 363.615643 902.880796 343.360301 890.335385 330.911222z" fill="#000" p-id="2288"></path></svg>
            </span>
        </div>
    </header>
    <main>
        <div class="cinemas" v-for="cinema in info" :key="cinema.cinemaId">
            <div class="pos">
                <span class="cinemaName">{{cinema.name}}</span>
                <span class="cinemaAddress">{{cinema.address}}</span>
            </div>
            <div class="price">
                <span class="mostLow">￥<p>{{cinema.lowPrice/100}}</p>起</span>
                <span class="position">距离未知</span>
            </div>
        </div>
        <div class="loading" v-if="loadingShow"><Loading></Loading></div>
    </main>
</div>
</template>

<script>
import axios from 'axios'
import Loading from '@/component/loading .vue'

export default {
  data () {
    return {
      info: [],
      loadingShow: true
    }
  },
  async created () {
    this.loadingShow = true
    const res = await axios.get('https://m.maizuo.com/gateway?cityId=110100&ticketFlag=1&k=3964060', {
      headers: {
        'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"16879999798557610668130305","bc":"110100"}',
        'X-Host': 'mall.film-ticket.cinema.list'
      }
    })
    this.info = res.data.data.cinemas.splice(0, 100)
    this.loadingShow = false
  },
  components: {
    Loading
  }
}
</script>

<style lang="scss" scoped>
.cinemaPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column;
    .top{
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #f5f5f5;
        .pos{
            width: 50px;
            font-size: 14px;
        }
        .title{
            font-size: 20px;
            font-weight: 400;
            font-style: normal;
            flex: 1;
            text-align: center;
        }
        .search{
            width: 50px;
            display: flex;
            justify-content: flex-end;
        }
    }
    .second{
        display: flex;
        height: 50px;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
        font-size: 14px;
        span{
            flex: 1;
        }
    }
}
main{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    .cinemas{
        display: flex;
        padding: 10px;
        color: #797d82;
        border-bottom: #f5f5f5 1px solid;
        .pos{
            display: flex;
            flex-direction: column;
            font-size: 12px;
            flex: 1;
            padding-right: 20px;
            .cinemaName{
                color:#000;
                font-size: 15px;
                margin: 5px 0;
            }
            .cinemaAddress{
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp:1;
                -webkit-box-orient: vertical;
            }
        }
        .price{
            width: 60px;
            font-size: 12px;
            .mostLow{
                display: flex;
                color: tomato;
                align-items: flex-end;
                >p{
                    height: 20px;
                    font-size: 16px;
                    display: flex;
                }
            }
            .position{
                display: flex;
                text-align: center;
                margin: 10px 5px;
            }
        }
    }
}
.loading{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
</style>
