<template>
  <div id="app">
      <router-view></router-view>
  </div>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>
<style lang="scss">
*{
  padding: 0;
  margin: 0;
}
body,html,#app{
  width: 100%;
  height: 100%;
}
#app{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
</style>
