<template>
  <div class="wrap">
    <h2>{{ num }}</h2>
    <button v-copy="content">复制</button>
    <textarea v-model="content"></textarea>
    <button v-copy="num">复制</button>
    <button @click="num++">{{ num }}</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      content: 'aaa',
      num: 10
    }
  },
  methods: {
    // copy () {
    //   this.$refs.textarea.select()
    //   document.execCommand('copy')
    //   alert('复制成功')
    // }
  }
}
</script>

<style scoped lang="scss">
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  width: 100px;
  height: 50px;
  font-size: 24px;
}
.wrap{
  width: 100%;
  height: 100%;
  textarea{
    width: 200px;
    height:100px;
  }
}
</style>
